<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwy.chapter_03">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter_03">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.qwy.hencoderpracticedraw01.PracticeDraw01Activity" />
        <activity
            android:name="com.qwy.hencoderpracticedraw02.PracticeDraw02Activity"
            android:hardwareAccelerated="false" />
        <activity android:name="com.qwy.hencoderpracticedraw03.PracticeDraw03Activity" />
    </application>

</manifest>